.li {
  list-style: none;
  box-shadow: 0px 4px 16px 0px grey;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.back {
  background-color: red;
  height: 30px;
  width: 95px;
  text-align: center;
  color: white;
  font-family: cursive;
}
